@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9612 0 0);
  --foreground: oklch(0.1448 0 0);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.1448 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.1448 0 0);
  --primary: oklch(0.5033 0.1829 292.4203);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9276 0.0058 264.5313);
  --secondary-foreground: oklch(0.1448 0 0);
  --muted: oklch(0.9670 0.0029 264.5419);
  --muted-foreground: oklch(0.5510 0.0234 264.3637);
  --accent: oklch(0.9504 0.0042 236.4983);
  --accent-foreground: oklch(0.1448 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9288 0.0126 255.5078);
  --input: oklch(1.0000 0 0);
  --ring: oklch(0.5033 0.1829 292.4203);
  --chart-1: oklch(0.5033 0.1829 292.4203);
  --chart-2: oklch(0.7090 0.1592 293.5412);
  --chart-3: oklch(0.6231 0.1880 259.8145);
  --chart-4: oklch(0.8606 0.1731 91.9357);
  --chart-5: oklch(0.6368 0.2078 25.3313);
  --sidebar: oklch(0.1448 0 0);
  --sidebar-foreground: oklch(0.9612 0 0);
  --sidebar-primary: oklch(0.5033 0.1829 292.4203);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.3216 0.1135 289.2481);
  --sidebar-accent-foreground: oklch(0.9612 0 0);
  --sidebar-border: oklch(0.3211 0 0);
  --sidebar-ring: oklch(0.5033 0.1829 292.4203);
  --font-sans: "Geist Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: "Geist Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0rem;
  --shadow-x: 5px;
  --shadow-y: 5px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.6;
  --shadow-color: #0a0a0a;
  --shadow-2xs: 5px 5px 0px 0px hsl(0 0% 3.9216% / 0.30);
  --shadow-xs: 5px 5px 0px 0px hsl(0 0% 3.9216% / 0.30);
  --shadow-sm: 5px 5px 0px 0px hsl(0 0% 3.9216% / 0.60), 5px 1px 2px -1px hsl(0 0% 3.9216% / 0.60);
  --shadow: 5px 5px 0px 0px hsl(0 0% 3.9216% / 0.60), 5px 1px 2px -1px hsl(0 0% 3.9216% / 0.60);
  --shadow-md: 5px 5px 0px 0px hsl(0 0% 3.9216% / 0.60), 5px 2px 4px -1px hsl(0 0% 3.9216% / 0.60);
  --shadow-lg: 5px 5px 0px 0px hsl(0 0% 3.9216% / 0.60), 5px 4px 6px -1px hsl(0 0% 3.9216% / 0.60);
  --shadow-xl: 5px 5px 0px 0px hsl(0 0% 3.9216% / 0.60), 5px 8px 10px -1px hsl(0 0% 3.9216% / 0.60);
  --shadow-2xl: 5px 5px 0px 0px hsl(0 0% 3.9216% / 1.50);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1448 0 0);
  --foreground: oklch(0.9288 0.0126 255.5078);
  --card: oklch(0.2134 0 0);
  --card-foreground: oklch(0.9288 0.0126 255.5078);
  --popover: oklch(0.2134 0 0);
  --popover-foreground: oklch(0.9288 0.0126 255.5078);
  --primary: oklch(0.5033 0.1829 292.4203);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.2781 0.0296 256.8480);
  --secondary-foreground: oklch(0.9288 0.0126 255.5078);
  --muted: oklch(0.2101 0.0318 264.6645);
  --muted-foreground: oklch(0.7137 0.0192 261.3246);
  --accent: oklch(0.2433 0.0247 263.9506);
  --accent-foreground: oklch(0.9288 0.0126 255.5078);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3211 0 0);
  --input: oklch(0.3171 0 0);
  --ring: oklch(0.5033 0.1829 292.4203);
  --chart-1: oklch(0.5033 0.1829 292.4203);
  --chart-2: oklch(0.7090 0.1592 293.5412);
  --chart-3: oklch(0.6231 0.1880 259.8145);
  --chart-4: oklch(0.8606 0.1731 91.9357);
  --chart-5: oklch(0.6368 0.2078 25.3313);
  --sidebar: oklch(0.9612 0 0);
  --sidebar-foreground: oklch(0.1448 0 0);
  --sidebar-primary: oklch(0.5033 0.1829 292.4203);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.8406 0.0568 300.0249);
  --sidebar-accent-foreground: oklch(0.1448 0 0);
  --sidebar-border: oklch(0.8452 0 0);
  --sidebar-ring: oklch(0.5033 0.1829 292.4203);
  --font-sans: "Geist Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: "Geist Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0rem;
  --shadow-x: 5px;
  --shadow-y: 5px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.8;
  --shadow-color: #000000;
  --shadow-2xs: 5px 5px 0px 0px hsl(0 0% 0% / 0.40);
  --shadow-xs: 5px 5px 0px 0px hsl(0 0% 0% / 0.40);
  --shadow-sm: 5px 5px 0px 0px hsl(0 0% 0% / 0.80), 5px 1px 2px -1px hsl(0 0% 0% / 0.80);
  --shadow: 5px 5px 0px 0px hsl(0 0% 0% / 0.80), 5px 1px 2px -1px hsl(0 0% 0% / 0.80);
  --shadow-md: 5px 5px 0px 0px hsl(0 0% 0% / 0.80), 5px 2px 4px -1px hsl(0 0% 0% / 0.80);
  --shadow-lg: 5px 5px 0px 0px hsl(0 0% 0% / 0.80), 5px 4px 6px -1px hsl(0 0% 0% / 0.80);
  --shadow-xl: 5px 5px 0px 0px hsl(0 0% 0% / 0.80), 5px 8px 10px -1px hsl(0 0% 0% / 0.80);
  --shadow-2xl: 5px 5px 0px 0px hsl(0 0% 0% / 2.00);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
